<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>3Sixty Schemas - ${title}</title>
		<link rel="stylesheet" href="https://schema.3sixty.global/style.css" type="text/css" />
		<link rel="icon" href="https://schema.3sixty.global/images/favicon.png" />
	</head>

	<body>
		<header>
			<a href="https://schema.3sixty.global/">
				<img
					src="https://schema.3sixty.global/images/logo.svg"
					alt="3Sixty Logo"
					width="32px"
					height="32px"
				/>
			</a>
			<a href="https://schema.3sixty.global/">
				<h1>3Sixty Schemas</h1>
			</a>
			<h1>/ ${title}</h1>
		</header>
		<main>${repo}${description}${jsonSchemas}${jsonLd}</main>
		<footer>
			<span>&copy; IOTA Foundation 2026</span>
			<span>v0.0.1-next.6</span>
		</footer>
	</body>
</html>
